html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Playfair Display', serif;;
}

a {
    text-decoration: none;
}

* {
    transition: all 0.5s;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-image: url(/public/images/fondo.jpg);
    background-position: center top ;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    color: white;
    font-size: 3rem;
}

h1:first-child {
    margin-top: 5rem;
}

.coldplay-title {
    margin-top: 3rem;
    margin-bottom: 0;
    font-size: 8rem;
}

p {
    color: white;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.form-container {
    margin-top: 4rem;
    height: 50rem;
    backdrop-filter: blur(0.5rem);
}

.question {
    padding-top: 1rem;
    color: white;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.answer {
    width: 20rem;
    max-width: 25rem;
    text-align: center;
    background-color: rgba(58, 58, 58, 0.862);
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2rem;
    padding: 0.8rem;
}

.answer:hover{
    transform: scale(1.10);
}

.wrong {
    background-color: rgba(161, 2, 2, 0.671);
}

.correct {
    background-color: rgba(18, 118, 0, 0.671);
}